{% comment %}
  @param product {Object}
    The product object

  @param layout {String}
    The layout type

  @param is_product_modal {Boolean}
    Is the snippet being loaded in a Quick shop

  @param is_featured_product {Boolean}
    Is the snippet being loaded in a Featured product

  @param onboarding {Boolean}
    Is there onboarding content

  @param show_dynamic_checkout_button {Boolean}
    If true, show dynamic checkout button

  @param select_first_available_variant {Boolean}
    If true, select the first available variant

  @param gallery_aspect_ratio {String}
    This is the gallery aspect ratio, can be one of 'natural', 'short', 'square', 'long'

  @param gallery_thumbnail_position {String}
    This is the gallery thumbnail position, can be one of 'below', or 'left'

  @param gallery_image_crop {Boolean}
    Whether to crop images

  @param gallery_hover_zoom {String}
    This is the hover zoom setting, which is either 'disabled', 'separate', or 'replace'

  @param gallery_click_to_zoom {String}
    This is the click to zoom setting, which is either 'disabled', 'mobile', 'desktop', or 'always'
{% endcomment %}

<script type="text/javascript" async="" src="https://static.rechargecdn.com/assets/js/widget.min.js?shop={{ request.host }}"></script>

{% assign onboarding = onboarding | default: false %}
{% assign layout = layout | default: nil %}
{% assign is_featured_product = is_featured_product | default: false %}

{% liquid
  assign selected_variant = product.selected_variant

  if product.variants.size == 1 or select_first_available_variant
    assign selected_variant = product.selected_or_first_available_variant
  endif
%}

{% assign compare_at_price = selected_variant.compare_at_price %}
{% assign price = selected_variant.price %}
{% assign sku = selected_variant.sku %}
{% assign product_available = product.available %}

{% comment %}For a potential divider in the product.description we need to split the content{% endcomment %}
{% assign readmore_split = product.description | split: '<!-- more -->' %}

{% if onboarding %}
  {% assign compare_at_price = 2999 %}
  {% assign price = 1999 %}
{% endif %}

{% assign on_sale = false %}
{% if compare_at_price > price %}
  {% assign on_sale = true %}
{% endif %}

{% assign consistent_saved = false %}
{% capture consistent_savings %}
  {%
    render 'consistent-savings',
    variants: product.variants,
    on_sale: on_sale
  %}
{% endcapture %}
{% if consistent_savings contains 'true' %}
  {% assign consistent_saved = true %}
{% endif %}

{%- capture share_buttons -%}
  {% assign social_image = false %}
  {% if product.featured_image %}
    {% assign social_image = product.featured_image | img_url: '1024x' %}
  {% endif %}
  {% assign social_url = shop.url | append: product.url %}
  {%-
    render 'share-buttons',
    snippet_title: 'general.share_buttons.title',
    social_image: social_image,
    social_title: product.title,
    social_url: social_url
  -%}
{%- endcapture  -%}

<article class="product--outer">
  {%
    render 'product-gallery',
    product: product,
    select_first_available_variant: select_first_available_variant,
    aspect_ratio: gallery_aspect_ratio,
    thumbnail_position: gallery_thumbnail_position,
    image_crop: gallery_image_crop,
    gallery_click_to_zoom: gallery_click_to_zoom,
    gallery_hover_zoom: gallery_hover_zoom
  %}

  <div class="product-main">
    <div class="product-details" data-product-details>
      {% for block in section.blocks %}
        <div class="product-details__block" {{ block.shopify_attributes }}>
          {% case block.type %}
            {% when 'title' %}
              {% if is_product_modal %}
                <h2 class="product-title">
                  <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                </h2>
              {% else %}
                {% if template == 'index' %}
                  <h2 class="product-title">
                {% else %}
                  <h1 class="product-title">
                {% endif %}
                  {% unless onboarding %}
                    {{ product.title }}
                  {% else %}
                    {{ 'onboarding.product.title' | t }}
                  {% endunless %}
                {% if template == 'index' %}
                  </h2>
                {% else %}
                  </h1>
                {% endif %}
              {% endif %}
            {% when 'vendor' %}
              {% if product.vendor != blank or onboarding %}
                <div class="product-vendor">
                  {% unless onboarding %}
                    {%- capture vendor_link -%}
                      {{ product.vendor | link_to_vendor }}
                    {%- endcapture -%}
                    {{ 'product.general.by_vendor_html' | t: vendor_link: vendor_link }}
                  {% else %}
                    {{ 'onboarding.product.by_vendor' | t }}
                  {% endunless %}
                </div>
              {% endif %}
            {% when 'price' %}
             <script>
              document.addEventListener("DOMContentLoaded", function() {
                setTimeout(function(){
                  document.getElementsByClassName('product-pricing')[0].parentElement.insertAdjacentHTML('beforebegin',
    '<span class="new-paragraph"></span>');
                  document.getElementsByClassName('new-paragraph')[0].innerText = document.querySelector('.product-description p').innerText; 
                },2000);
              });
              
            </script>
              {% if settings.product_ratings_reviews %}
                <div class="product-ratings">
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
                    <span class="spr-badge">
                      <span class="spr-starrating spr-badge-starrating">
                        <i class="spr-icon spr-icon-star-empty"></i>
                        <i class="spr-icon spr-icon-star-empty"></i>
                        <i class="spr-icon spr-icon-star-empty"></i>
                        <i class="spr-icon spr-icon-star-empty"></i>
                        <i class="spr-icon spr-icon-star-empty"></i>
                      </span>
                    </span>
                  </span>
                </div>
              {% endif %}
              <div
                class="product-pricing"
                aria-live="polite"
                data-product-pricing
              >
                {%
                  render 'product-badge',
                  class_root: 'product',
                  product: product,
                  product_available: product_available,
                  on_sale: on_sale,
                  price: price,
                  compare_at_price: compare_at_price,
                  show_saved: true,
                  include_range: false,
                  selected_variant: selected_variant,
                %}

                {%
                  render 'product-price',
                  product: product,
                  class_root: 'product',
                  price: price,
                  price_varies: false,
                  compare_at_price: compare_at_price,
                  compare_at_price_varies: false,
                  on_sale: on_sale,
                  emphasize_price: false,
                  show_original: true,
                  show_range: false,
                  include_unit_price: true,
                  include_tax_line: true,
                  include_hidden_price: true
                %}

                <form data-payment-terms-target style="display: none;"></form>
              </div>

            {% when 'sku' %}
              {% unless onboarding %}
                <div
                  class="
                    product-sku
                    {% if sku == empty %}product-sku--empty{% endif %}
                  "
                >
                  {{ 'product.general.sku_html' | t: sku: sku | strip_newlines }}
                </div>
              {% endunless %}

            {% when 'description' %}
              {% if readmore_split[0] != blank %}
                <div class="product-description rte" data-product-description>
                  {{ readmore_split[0] }}
                </div>
              {% endif %}
            {% when 'form' %}
              <div
                class="product-form--regular"
                data-product-form-regular
              >
                <div class="main-form-cart" data-product-form-area>
                  {% if is_product_modal %}
                    <div data-product-quickshop-message class="product-message--container"></div>
                  {% endif %}

                  {% unless onboarding %}
                    {%
                      render 'product-form',
                      product: product,
                      show_dynamic_checkout_button: show_dynamic_checkout_button,
                      selected_variant: selected_variant,
                      is_product_modal: is_product_modal,
                    %}
                  {% endunless %}
                </div>
              </div>
            {% when 'text' %}
              <div class="product-text">
                {{ block.settings.text }}
              </div>
            {% when 'share' %}
              <div class="product-share">
                {{ share_buttons | strip_newlines }}
              </div>
            {% when '@app' %}
              <div class="product-app">
                {% render block %}
              </div>
            {% when 'view-product-link' %}
              <a
                class="product-link"
                href="{{ product.url | within: collection }}"
                data-product-details-link
              >
                {{ block.settings.text | escape }}
              </a>
          {% endcase %}
        </div>
      {% endfor %}

      {% if layout == 'layout--three-col' %}
        <div class="product-form--regular" data-product-form-regular>
          <div class="main-form-cart" data-product-form-area>
            {% if is_product_modal %}
              <div data-product-quickshop-message class="product-message--container"></div>
            {% endif %}

            {% unless onboarding %}
              {%
                render 'product-form',
                product: product,
                show_dynamic_checkout_button: show_dynamic_checkout_button,
                selected_variant: selected_variant,
                is_product_modal: is_product_modal,
              %}
            {% endunless %}

            {% if is_product_modal == false %}
              {{ share_buttons | strip_newlines }}
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  {% if layout == 'layout--three-col' %}
    <div class="product-form--alt" data-product-form-alt></div>
  {% endif %}
</article>

{% unless is_product_modal == true %}
  <script type="text/javascript">
    var _learnq = _learnq || [];
    var item = {
      Name: {{ product.title|json }},
      ProductID: {{ product.id|json }},
      Categories: {{ product.collections|map:'title'|json }},
      ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
      URL: "{{ shop.secure_url }}{{ product.url }}",
      Brand: {{ product.vendor|json }},
      Price: {{ product.price|money|json }},
      CompareAtPrice: {{ product.compare_at_price_max|money|json }}
    };
    _learnq.push(['track', 'Viewed Product', item]);
    _learnq.push(['trackViewedItem', {
      Title: item.Name,
      ItemId: item.ProductID,
      Categories: item.Categories,
      ImageUrl: item.ImageURL,
      Url: item.URL,
      Metadata: {
        Brand: item.Brand,
        Price: item.Price,
        CompareAtPrice: item.CompareAtPrice
      }
    }]);
  </script>
{% endunless %}

{% if readmore_split[1] != blank and is_featured_product != true and is_product_modal != true %}
  <div class="product-readmore rte" data-product-readmore>
    {{ readmore_split[1] }}
  </div>
{% endif %}

{% render 'sticky-mobile-cart' %}

<style>
.rc-template__radio-group .rc-radio .rc-radio__label .rc-option__discount,
.rc-selling-plans__label {
  display: none;
}
:root {
  --rc-jade: #3c716a;
}

.rc-container .rc-widget {
    border: 1px solid var(--rc-jade);
    border-radius: 20px;
    overflow: hidden;
}

    .rc-container .rc-widget .rc-radio__input {
      border: 0px;
      clip: rect(0px, 0px, 0px, 0px);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0px;
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
    }

    .rc-container .rc-widget .rc-option {
      padding: 8px;
    }

   .rc-container .rc-widget .rc-selling-plans {
      margin-top: 0!important;
      margin-bottom: 16px;
      padding-left: 16px;
    }
</style>

{% if on_sale == true %}
  <script type="text/javascript" async="async">
      // Sergey K (Maxburst)
      let observer = new MutationObserver((mutations) => {
          let widget_subsave = document.querySelector('[data-label-text-subsave]');
          if (widget_subsave) {
              widget_subsave.textContent = '{{ settings.sale_text_widget }}';
              observer.disconnect(); 
          }
      });      
      observer.observe(document.body, { childList: true, subtree: true });
  </script>
{% endif %}

<script type="text/javascript">
  
  // Sergey K (Maxburst)  
  {% if product.id == 6841624920179 or product.id == 6841625935987 or product.id == 6841625280627 or product.id == 6841625575539 %}
  
    let merge_count = 0;
    let id_prod_array = {% if product.id == 6841624920179 %}['3866743930995', '1301634908275']{% endif %}
    					{% if product.id == 6841625935987 %}['6727361200243', '1301638938739']{% endif %}
    					{% if product.id == 6841625280627 %}['1404205465715', '1301810937971']{% endif %}
    					{% if product.id == 6841625575539 %}['1301637070963', '1301634908275']{% endif %};
  	let options = {
        method: 'GET',
        headers: {Accept: 'application/json', 'Content-Type': 'application/json'}
    };

    function get_yotpo() {
 
      for (const id_prod of id_prod_array) {
         fetch(`https://api-cdn.yotpo.com/v1/widget/1kwQJ5kAqxUWGLOo6IGdg5ZQlfcTy9k5YmJC1VhH/products/${id_prod}/reviews.json`, options)
          .then(response => response.json())
          .then(get_count);
      }

      function get_count(data) {
           console.log(data.response.bottomline.total_review);	
           merge_count = merge_count + data.response.bottomline.total_review;
           document.querySelector('.count_from_hybrid').textContent = `${merge_count} Reviews`;          
      }
     
    }

    get_yotpo();
  
  {% endif %}
  document.querySelector('.main-form-cart select.form-field-select').addEventListener('change', (event) => {
    document.querySelector('.sticky-mobile-cart select.form-field-select').selectedIndex = event.target.selectedIndex;
    document.querySelector('.sticky-mobile-cart select.form-field-select').dispatchEvent(new Event('change'));
  });
</script>
{% render 'nosto-element', id:'productpage-nosto-1' %}

{% render 'nosto-element', id:'productpage-nosto-2' %}

{% render 'nosto-element', id:'productpage-nosto-3' %}