<section
  class="account-page account-page-login article--container"
  data-template-account
  data-template-account-login>
  

  <div class="account-page-columns">
    <div class="first-time account-page-content">
      <div class="account-page-masthead">
        <div class="account-page-title">
          {{section.settings.registertitle}}
        </div>
        <div class="first-time-text">
          {{section.settings.registertext}}
        </div>
        {%- if section.settings.button_label != blank -%}
            <a href="{{ section.settings.button_link }}" class="first-time-link button-primary">
            	{{ section.settings.button_label }}
            </a>
        {%- endif -%}
      </div>
      
    </div>
    <article class="account-page-content">
      <header class="account-page-masthead">
        <h1 class="account-page-title">
          {{ 'customers.login.title' | t }}
        </h1>
      </header>
      <div class="account-login visible" data-account-login-main>
        {% form 'customer_login' %}

          {% if form.errors != blank %}
            <div class="account-message message--error">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

          <div class="form-field">
            <input
              class="form-field-input form-field-text"
              id="customer_email"
              name="customer[email]"
              type="text"
              autocorrect="off"
              autocapitalize="off">
            <label
              class="form-field-title"
              for="customer_email">
              {{ 'customers.forms.email' | t }}
            </label>
          </div>

          {% if form.password_needed %}
            <div class="form-field form-field--account-password">
              <input
                class="form-field-input form-field-text"
                id="customer_password"
                name="customer[password]"
                type="password">
              <label
                class="form-field-title"
                for="customer_password">
                {{ 'customers.forms.password' | t }}
              </label>
            </div>
          {% endif %}

          <div class="form-action-row">
            <button class="button-primary form-action--submit" type="submit">
              {{ 'customers.login.sign_in' | t }}
            </button>

            <div class="form-action-row--helper">
              {% if form.password_needed %}
                <span class="form-action-row--helper-item">
                  <a href="#customer_recovery" data-login-toggle>
                    {{ 'customers.login.forgot_password' | t }}
                  </a>
                </span>
              {% endif %}
            </div>
          </div>

        {% endform %}
      </div>

      <div
        class="account-recovery"
        id="customer_recovery"
        data-account-login-recovery>
        {% form 'recover_customer_password' %}

          <h2 class="account-page-subtitle">
            {{ 'customers.recover_password.title' | t }}
          </h2>

          <p>{{ 'customers.recover_password.subtitle' | t }}</p>

          {% assign has_message = false %}

          {% if form.errors != blank %}
            {% assign has_message = true %}
            {% assign message_type = 'error' %}
          {% endif %}

          {% if form.posted_successfully? %}
            {% assign has_message = true %}
            {% assign message_type = 'success' %}
          {% endif %}

          {% if has_message %}
            <div class="account-message message--{{ message_type }}" data-recovery-has-message>
              {% case message_type %}
                {% when 'success' %}
                  <p>
                    {{ 'customers.recover_password.success' | t }}
                  </p>
                {% when 'error' %}
                  {{ form.errors | default_errors }}
              {% endcase %}
            </div>
          {% endif %}

          <div class="form-field">
            <input
              class="form-field-input form-field-text"
              id="customer_recovery_email"
              name="email"
              type="text"
              autocorrect="off"
              autocapitalize="off">
            <label
              class="form-field-title"
              for="customer_recovery_email">
              {{ 'customers.forms.email' | t }}
            </label>
          </div>

          <div class="form-action-row">
            <button class="button-primary" type="submit">
              {{ 'customers.forms.submit' | t }}
            </button>

            <button
              class="button-secondary"
              type="button"
              data-login-toggle
            >
              {{ 'customers.forms.cancel' | t }}
            </button>
          </div>
        {% endform %}
      </div>

      {% if shop.checkout.guest_login %}
        <div class="account-register account-register--guest">
          <h2 class="account-register-subtitle">
            {{ 'customers.guest_login.title' | t }}
          </h2>

          {% form 'guest_login' %}
            <button class="button-primary" type="submit">
              {{ 'customers.guest_login.submit' | t }}
            </button>
          {% endform %}
        </div>
      {% endif %}
    </article>
  </div>

</section>


{% schema %}
{
  "name": "Login",
  "settings": [
    {
      "type": "text",
      "id": "registertitle",
      "label": "Register title"
    },
	{
      "type": "textarea",
      "id": "registertext",
      "label": "Register text"
    },
	{
      "id": "button_label",
      "type": "text",
      "label": "Button label",
      "default": "Button"
    },
    {
      "id": "button_link",
      "type": "url",
      "label": "Button link"
    }
  ]
}

{% endschema %}